nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
  div(lass="navbar-header")
    a(class="navbar-brand") TutorialsPoint
  div
    ul(class="nav navbar-nav")
      li(class="active",id="introction_nav") 
        a(href="/introction") Introduction
      li(id="search_nav")
        a(href="/search") Search 
      li(id="upload_nav")
        a(href="/upload") Upload
      li(id="about_nav")
        a(href="/about") About
