extends external_layout
block content
  //img(src="images/1.png",width="300px")
  //br
  //br
  nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
    div(lass="navbar-header")
      a(class="navbar-brand") TutorialsPoint
    div
      ul(class="nav navbar-nav")
        li 
          a(href="/introction") Introduction
        li(class="active") 
          a(href="/search") Search 
        li
          a(href="/upload") Upload
        li
          a(href="/about") About
